<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpPlatform 
          processPath="C:\Users\Administrator\AppData\Local\Programs\Python\Python311\python.exe" 
          arguments="-m daphne -b 0.0.0.0 -p %HTTP_PLATFORM_PORT% signals.asgi:application" 
          stdoutLogEnabled="true" 
          stdoutLogFile="C:\Users\Administrator\Documents\signal-server\server-logs\stdout.log"
        >	
          <environmentVariables>
            <environmentVariable name="SERVER_PORT" value="%HTTP_PLATFORM_PORT%" />
          </environmentVariables>
        </httpPlatform>
        <handlers>
            <remove name="Signal" />
            <add name="MyHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
    <appSettings>
      <!-- Required settings -->
      <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
      <!-- Your django path -->
      <add key="PYTHONPATH" value="C:\inetpub\wwwroot\signal" /> 
      <!-- Your djangoname.settings -->
      <add key="DJANGO_SETTINGS_MODULE" value="signals.settings" />
    </appSettings>
</configuration>
